.table-row {
  background-image: url("https://images.pexels.com/photos/1303092/pexels-photo-1303092.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftSideTables {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  padding: 2%;
}

.rightSideTables {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  padding: 2%;
}

.barSideTables {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  padding: 2%;
}

.tablesDiv {
  margin: 5%;
}
